flows.json
[
    {
        "id": "41272f880361fa55",
        "type": "tab",
        "label": "Flow 7",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "664fc4a3cb6c0f8c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be87dde917a1e3f7",
        "type": "ui_group",
        "name": "a1",
        "tab": "62df2dd584a88ad4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62df2dd584a88ad4",
        "type": "ui_tab",
        "name": "Demo_1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "78e05f734cd609e4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7662dba9aa28952a",
        "type": "mqtt-broker",
        "name": "LocalMQTT",
        "broker": "192.168.55.182",
        "port": "1883",
        "clientid": "test-node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e3fa4609a385f658",
        "type": "serial-port",
        "serialport": "/dev/cu.wchusbserial110",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "60017bdb83d70b6a",
        "type": "twitter-credentials",
        "screen_name": "@FortuneMagazine"
    },
    {
        "id": "4ba29ade5065d463",
        "type": "ui_tab",
        "name": "baby_dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f9fffc964ec1c80d",
        "type": "ui_group",
        "name": "baby input",
        "tab": "4ba29ade5065d463",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c058285e05dde8e",
        "type": "mqtt-broker",
        "name": "10.0.1.155",
        "broker": "10.0.1.155",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "60d9469937fe0851",
        "type": "ui_tab",
        "name": "Device Status",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "aa62057aebdf8bf4",
        "type": "ui_group",
        "name": "IOT Device Status",
        "tab": "60d9469937fe0851",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "56c7308b5682e40b",
        "type": "ui_group",
        "name": "Battery Management ",
        "tab": "39ee87e7b0c15592",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3e7fe58c6567e784",
        "type": "ui_group",
        "name": "Weather Station",
        "tab": "ad56b1f9e30419a1",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3e673e907d41b715",
        "type": "serial-port",
        "serialport": "/dev/ttyWS",
        "serialbaud": "2400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "2cdd6eea7de86480",
        "type": "serial-port",
        "serialport": "/dev/ttyLD",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "fcf4bf21b7f51a6e",
        "type": "mqtt-broker",
        "name": "Hetero",
        "broker": "mqtts://mqtt.curouav.com",
        "port": "8883",
        "tls": "f02618933ae95f12",
        "clientid": "hetero",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "/hetero_sensors",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {
            "contentType": "application/json"
        },
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f02618933ae95f12",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "3534c365366e740a",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "d616a75eaae5d9c0",
        "type": "serial-port",
        "serialport": "/dev/ttyLOCK",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "4f7ba2815d652230",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.10.10.3",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c92261413a5ba004",
        "type": "ui_group",
        "name": "Control",
        "tab": "0118ce262bd31215",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "eda480cd.72d73",
        "type": "mqtt-broker",
        "name": "Homey MQTT Riko",
        "broker": "192.168.0.34",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "homey-topic/hub/status",
        "birthQos": "2",
        "birthRetain": "false",
        "birthPayload": "msg.payload",
        "closeTopic": "",
        "closeQos": "2",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "2",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "6d537ba0f54c8611",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.0.1.140",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "10",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "557c80f9d0c153d8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtts://mqtt.ecoflow.com:8883",
        "port": "8883",
        "clientid": "ANDROID_FF12A24A-A3D1-3719-9314-DF617C133799_1716677486131982337",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2532013b758ef338",
        "type": "ui_tab",
        "name": "Network",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "89ceaf922abb450b",
        "type": "ui_group",
        "name": "Connectivity",
        "tab": "2532013b758ef338",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0118ce262bd31215",
        "type": "ui_tab",
        "name": "Security Camera",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "39ee87e7b0c15592",
        "type": "ui_tab",
        "name": "Battery",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ad56b1f9e30419a1",
        "type": "ui_tab",
        "name": "Weather Data",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0923b78b3bdb6765",
        "type": "ui_group",
        "d": true,
        "name": "Trailer Control",
        "tab": "60d9469937fe0851",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "494750348b1306db",
        "type": "ui_group",
        "name": "Lightning Detector",
        "tab": "ad56b1f9e30419a1",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d9cfd38c7331e39d",
        "type": "ui_group",
        "name": "GNSS",
        "tab": "72889712993490a3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93d32a6eef663e79",
        "type": "ui_tab",
        "name": "Air Conditoner",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "72889712993490a3",
        "type": "ui_tab",
        "name": "Base Station",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ca4862dd9a2e799a",
        "type": "ui_group",
        "name": "AC Unit",
        "tab": "93d32a6eef663e79",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f75f864b353588e",
        "type": "ui_group",
        "name": "Heat Map",
        "tab": "93d32a6eef663e79",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b3e2db9a9e92b12c",
        "type": "ui_group",
        "name": "Camera Views",
        "tab": "0118ce262bd31215",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "241136ee86324a0e",
        "type": "ui_tab",
        "name": "Setup",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "979c12a2c05dc352",
        "type": "ui_group",
        "name": "IMU Leveling",
        "tab": "241136ee86324a0e",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "910fea313204fa15",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "2400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "b46fe61dac178352",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "order": 10,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "ca2272c3.e8396",
        "type": "ui_group",
        "name": "Device Link",
        "tab": "60d9469937fe0851",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7d6fe067aa24664",
        "type": "ui_group",
        "name": "System control",
        "tab": "241136ee86324a0e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1371d98557a64c3d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.10.10.3",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4014390dd557f9a7",
        "type": "ui_group",
        "name": "Default",
        "tab": "93c4f24f05aecfaa",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "93c4f24f05aecfaa",
        "type": "ui_tab",
        "name": "Map",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2c4aa00c4af9fb37",
        "type": "ui_group",
        "name": "Internet Speed",
        "tab": "2532013b758ef338",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7e4e209761d697e",
        "type": "ui_group",
        "name": "Power Map",
        "tab": "39ee87e7b0c15592",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "75a13b031b3ede4a",
        "type": "ui_tab",
        "name": "Tab 11",
        "icon": "dashboard",
        "order": 11
    },
    {
        "id": "067c8d6d7bf8f563",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "75a13b031b3ede4a",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "3cc1074cf20e6723",
        "type": "mqtt-broker",
        "name": "yutong_test_broker",
        "broker": "mqtts://mqtt.ecoflow.com:8883 ",
        "port": "1883",
        "clientid": "ANDROID_051BA843-E614-4D20-A2BD-8C12745D4488_1744189477618507778",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "391b256d5aea1ec7",
        "type": "ui_group",
        "name": "DC distribution Board control",
        "tab": "241136ee86324a0e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0ed7406eab8fa38",
        "type": "position",
        "name": "test",
        "latitude": "38.8951",
        "longitude": "-77.0364"
    },
    {
        "id": "9630cd6e1fd87484",
        "type": "mqtt in",
        "z": "41272f880361fa55",
        "name": "",
        "topic": "sys/product/+/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c058285e05dde8e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "b0ec78e825d90a89"
            ]
        ]
    },
    {
        "id": "b0ec78e825d90a89",
        "type": "debug",
        "z": "41272f880361fa55",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "595ebbc446971ad7",
        "type": "mqtt in",
        "z": "41272f880361fa55",
        "name": "",
        "topic": "thing/product/+/osd",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c058285e05dde8e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 600,
        "wires": [
            [
                "3bfa40f9c9389f84"
            ]
        ]
    },
    {
        "id": "3bfa40f9c9389f84",
        "type": "debug",
        "z": "41272f880361fa55",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 600,
        "wires": []
    },
    {
        "id": "fccdcb49b2214d37",
        "type": "debug",
        "z": "664fc4a3cb6c0f8c",
        "name": "debug 132",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "c271c072215fa4e6",
        "type": "inject",
        "z": "664fc4a3cb6c0f8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "c75d0ef1581d7399"
            ]
        ]
    },
    {
        "id": "c75d0ef1581d7399",
        "type": "function",
        "z": "664fc4a3cb6c0f8c",
        "name": "function 1",
        "func": "console.log(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "fccdcb49b2214d37"
            ]
        ]
    },
    {
        "id": "f545cb70890be2f0",
        "type": "smalltimer",
        "z": "664fc4a3cb6c0f8c",
        "name": "Small timer",
        "position": "a0ed7406eab8fa38",
        "startTime": "",
        "endTime": "",
        "startOffset": 0,
        "endOffset": 0,
        "topic": "",
        "sendEmptyPayload": true,
        "onMsg": "",
        "onMsgType": "json",
        "onTimeout": 1440,
        "minimumOnTime": 0,
        "offMsg": "0",
        "offMsgType": "str",
        "offTimeout": 1440,
        "rules": [
            {
                "type": "include",
                "month": "1",
                "day": "5"
            }
        ],
        "repeat": false,
        "repeatInterval": 60,
        "wrapMidnight": true,
        "injectOnStartup": false,
        "debugEnable": false,
        "outputs": 1,
        "timeout": 1440,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "ff1576eb7c54d746"
            ]
        ]
    },
    {
        "id": "ff1576eb7c54d746",
        "type": "debug",
        "z": "664fc4a3cb6c0f8c",
        "name": "debug 133",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 380,
        "wires": []
    }
]